<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Correspondance</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Correspondance</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ts.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Correspondance prend une photo pour la joindre à un message.</string>
	<key>NSContactsUsageDescription</key>
	<string>Correspondance retrouve vos contacts pour écrire à quelqu’un qui n’a pas encore de conversation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Correspondance utilise le micro pour vos messages vocaux.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Correspondance joint vos photos à vos messages.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Correspondance transcrit les messages vocaux pour que vous puissiez les lire.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/iAWriterQuattroS-Regular.ttf</string>
		<string>Fonts/iAWriterQuattroS-Italic.ttf</string>
		<string>Fonts/iAWriterDuoS-Regular.ttf</string>
		<string>Fonts/iAWriterDuoS-Italic.ttf</string>
		<string>Fonts/iAWriterMonoS-Regular.ttf</string>
		<string>Fonts/iAWriterMonoS-Italic.ttf</string>
		<string>Fonts/IBMPlexSerif-Regular.ttf</string>
		<string>Fonts/IBMPlexSerif-Italic.ttf</string>
		<string>Fonts/IBMPlexSans-Regular.ttf</string>
		<string>Fonts/IBMPlexSans-Italic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
